.fadedLogo {
    transform: rotateZ(20deg) !important;
    animation: fadeOut 4.5s 1.8s backwards;
}

.solidLogo {
    transform: rotateZ(20deg);
    animation: fadeIn 4.5s 1.8s backwards;
}

.invis {
    opacity: 0;
}