@import "loaders.css/src/animations/pacman.scss";

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  animation: fadeOut 1s 1s;
  animation-fill-mode: forwards;
}

.homepage {
  .textarea {
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 5%;
  }

  h1 {
    font-size: 55px;
    z-index: 1;

    img {
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      margin-bottom: 4px;
      margin-right: 2px;
      margin-left: -22px;
    }
  }

  h2 {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .contact {
    letter-spacing: 1px;
    background-color: #2ecc40;
    color: white;
    animation: fadeIn 1s 1.8s backwards;
    margin-top: 4vh;
  }

  .contact:hover {
    border: 1.5px solid white;
    background-color: transparent;
  }
}

.mobile {
  .textarea {
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  h1 {
    font-size: 20px;
    z-index: 1;

    img {
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      margin-bottom: 4px;
      margin-right: 2px;
      margin-left: -22px;
    }
  }

  h2 {
    font-family: "Kanit", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .contact {
    letter-spacing: 1px;
    background-color: #2ecc40;
    color: white;
    animation: fadeIn 1s 1.8s backwards;
    margin-top: 4vh;
  }

  .contact:hover {
    border: 1.5px solid white;
    background-color: transparent;
  }
}
