@import "loaders.css/src/animations/ball-grid-pulse.scss";

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 15%;
  width: 100px;
  height: 100px;
  animation: fadeOut 1s 1s;
  animation-fill-mode: forwards;
}

.info {
  h1 {
    font-size: 55px;
    font-family: "Kanit", sans-serif;
  }

  p {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    animation: fadeIn 1s 2s backwards;
  }

  h6 {
    font-size: 1.75rem;
    font-family: "Kanit", sans-serif;
    animation: fadeIn 1s 2s backwards;
  }
}
