@import "loaders.css/src/animations/ball-grid-pulse.scss";

.info {
  h1 {
    font-size: 55px;
    font-family: "Kanit", sans-serif;
  }

  p {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    animation: fadeIn 1s 2s backwards;
  }

  h6 {
    font-size: 1.75rem;
    font-family: "Kanit", sans-serif;
    animation: fadeIn 1s 2s backwards;
  }
}

.xl {
  h1 {
    font-size: 75px;
    font-family: "Kanit", sans-serif;
  }

  p {
    font-size: 35px;
    font-family: "Kanit", sans-serif;
    animation: fadeIn 1s 2s backwards;
  }

  h6 {
    font-size: 2.75rem;
    font-family: "Kanit", sans-serif;
    animation: fadeIn 1s 2s backwards;
  }
}
